In [25]:
# Import required modules
import numpy as np
from __future__ import print_function
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
from pprint import pprint
from IPython.display import display

# Load the data into variable 'df'
df = pd.read_csv('https://raw.githubusercontent.com/cdmorgan103/7331DataMiningNoShow/master/data/updated.csv')
# Get an overview of the raw data
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 18 columns):
PatientId         110527 non-null int64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
ScheduledTime     110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hypertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handicap          110527 non-null int64
SMSReceived       110527 non-null int64
NoShow            110527 non-null object
DaysInAdvance     110527 non-null int64
ScheduledDOW      110527 non-null object
AppointmentDOW    110527 non-null object
dtypes: int64(10), object(8)
memory usage: 15.2+ MB

In [26]:
# 1. Remove attributes not usefull
#del df['PatientId'] not sure if we need to remove, might be helpful with identifying multiple appointments by Patient 

# 3. Computed discrete features agains now with the newest values
df['age_range'] = pd.cut(df.Age,[0,16,24,65,1e6],4,labels=[0,1,2,3]) # this creates a new variable

# 4. drop rows that still had missing values after grouped imputation
df.dropna(inplace=True)
df.age_range = df.age_range.astype(np.int)

df.info

<bound method DataFrame.info of               PatientId  AppointmentID Gender ScheduledDay ScheduledTime  \
0        29872499824296        5642903      F   2016-04-29      18:38:08
1       558997776694438        5642503      M   2016-04-29      16:08:27
2         4262962299951        5642549      F   2016-04-29      16:19:04
3          867951213174        5642828      F   2016-04-29      17:29:31
4         8841186448183        5642494      F   2016-04-29      16:07:23
5        95985133231274        5626772      F   2016-04-27      08:36:51
6       733688164476661        5630279      F   2016-04-27      15:05:12
7         3449833394123        5630575      F   2016-04-27      15:39:58
8        56394729949972        5638447      F   2016-04-29      08:02:16
9        78124564369297        5629123      F   2016-04-27      12:48:25
10      734536231958495        5630213      F   2016-04-27      14:58:11
11        7542951368435        5620163      M   2016-04-26      08:44:12
12      566654781423437        5634718      F   2016-04-28      11:33:51
13      911394617215919        5636249      M   2016-04-28      14:52:07
14       99884723334928        5633951      F   2016-04-28      10:06:24
15          99948393975        5620206      F   2016-04-26      08:47:27
16       84574392942817        5633121      M   2016-04-28      08:51:47
17       14794966191172        5633460      F   2016-04-28      09:28:57
18       17135378245248        5621836      F   2016-04-26      10:54:18
19        7223289184215        5640433      F   2016-04-29      10:43:14
20      622257462899397        5626083      F   2016-04-27      07:51:14
21       12154843752835        5628338      F   2016-04-27      10:50:45
22      863229818887631        5616091      M   2016-04-25      13:29:16
23      213753979425692        5634142      F   2016-04-28      10:27:05
24        8734857996885        5641780      F   2016-04-29      14:19:19
25        5819369978796        5624020      M   2016-04-26      15:04:17
26          25787851512        5641781      F   2016-04-29      14:19:42
27       12154843752835        5628345      F   2016-04-27      10:51:45
28        5926171692527        5642400      M   2016-04-29      15:48:02
29        1225776163665        5642186      F   2016-04-29      15:16:29
...                 ...            ...    ...          ...           ...
110496   85442954737999        5779046      F   2016-06-06      17:35:38
110497  793589177751417        5757745      M   2016-06-01      09:46:33
110498   94336536145654        5787655      F   2016-06-08      10:21:14
110499  821969177626116        5757697      F   2016-06-01      09:42:56
110500  443438443334614        5787233      F   2016-06-08      09:35:13
110501     454425189389        5758133      M   2016-06-01      10:19:12
110502  731622885364982        5787937      F   2016-06-08      10:50:42
110503   23621816822757        5759473      F   2016-06-01      13:00:36
110504    9947982555566        5788052      F   2016-06-08      11:06:21
110505   56673438855979        5758455      F   2016-06-01      10:45:50
110506     897388334326        5758779      M   2016-06-01      11:09:20
110508   94336536145654        5757656      F   2016-06-01      09:41:00
110509  495296829375937        5786750      M   2016-06-08      08:50:51
110510   23621816822757        5757587      F   2016-06-01      09:35:48
110511     823599626588        5786742      F   2016-06-08      08:50:20
110512   98762456447375        5786368      F   2016-06-08      08:20:01
110513   86747784995281        5785964      M   2016-06-08      07:52:55
110514    2695685177138        5786567      F   2016-06-08      08:35:31
110515  645634214296344        5778621      M   2016-06-06      15:58:05
110516   69237724436761        5780205      F   2016-06-07      07:45:16
110517    5574942418928        5780122      F   2016-06-07      07:38:34
110518   72633149253362        5630375      F   2016-04-27      15:15:06
110519   65423877893936        5630447      F   2016-04-27      15:23:14
110520  996997666245785        5650534      F   2016-05-03      07:51:47
110521   36355337746436        5651072      F   2016-05-03      08:23:40
110522    2572134369293        5651768      F   2016-05-03      09:15:35
110523    3596266328735        5650093      F   2016-05-03      07:27:33
110524   15576631729893        5630692      F   2016-04-27      16:03:52
110525   92134931435557        5630323      F   2016-04-27      15:09:23
110526  377511518121127        5629448      F   2016-04-27      13:30:56

       AppointmentDay  Age      Neighbourhood  Scholarship  Hypertension  \
0          2016-04-29   62    JARDIM DA PENHA            0             1
1          2016-04-29   56    JARDIM DA PENHA            0             0
2          2016-04-29   62      MATA DA PRAIA            0             0
3          2016-04-29    8  PONTAL DE CAMBURI            0             0
4          2016-04-29   56    JARDIM DA PENHA            0             1
5          2016-04-29   76          REPÚBLICA            0             1
6          2016-04-29   23         GOIABEIRAS            0             0
7          2016-04-29   39         GOIABEIRAS            0             0
8          2016-04-29   21         ANDORINHAS            0             0
9          2016-04-29   19          CONQUISTA            0             0
10         2016-04-29   30     NOVA PALESTINA            0             0
11         2016-04-29   29     NOVA PALESTINA            0             0
12         2016-04-29   22     NOVA PALESTINA            1             0
13         2016-04-29   28     NOVA PALESTINA            0             0
14         2016-04-29   54     NOVA PALESTINA            0             0
15         2016-04-29   15     NOVA PALESTINA            0             0
16         2016-04-29   50     NOVA PALESTINA            0             0
17         2016-04-29   40          CONQUISTA            1             0
18         2016-04-29   30     NOVA PALESTINA            1             0
19         2016-04-29   46           DA PENHA            0             0
20         2016-04-29   30     NOVA PALESTINA            0             0
21         2016-04-29    4          CONQUISTA            0             0
22         2016-04-29   13          CONQUISTA            0             0
23         2016-04-29   46          CONQUISTA            0             0
24         2016-04-29   65         TABUAZEIRO            0             0
25         2016-04-29   46          CONQUISTA            0             1
26         2016-04-29   45     BENTO FERREIRA            0             1
27         2016-04-29    4          CONQUISTA            0             0
28         2016-04-29   51          SÃO PEDRO            0             0
29         2016-04-29   32       SANTA MARTHA            0             0
...               ...  ...                ...          ...           ...
110496     2016-06-08   37        MARIA ORTIZ            0             1
110497     2016-06-01   76        MARIA ORTIZ            0             0
110498     2016-06-08   59        MARIA ORTIZ            0             0
110499     2016-06-01   66        MARIA ORTIZ            0             1
110500     2016-06-08   59        MARIA ORTIZ            0             0
110501     2016-06-01   44        MARIA ORTIZ            0             0
110502     2016-06-08   22         GOIABEIRAS            0             0
110503     2016-06-01   64       SOLON BORGES            0             0
110504     2016-06-08    4        MARIA ORTIZ            0             0
110505     2016-06-01   55        MARIA ORTIZ            0             0
110506     2016-06-01    5        MARIA ORTIZ            0             0
110508     2016-06-01   59        MARIA ORTIZ            0             0
110509     2016-06-08   33        MARIA ORTIZ            0             0
110510     2016-06-01   64       SOLON BORGES            0             0
110511     2016-06-08   14        MARIA ORTIZ            0             0
110512     2016-06-08   41        MARIA ORTIZ            0             0
110513     2016-06-08    2    ANTÔNIO HONÓRIO            0             0
110514     2016-06-08   58        MARIA ORTIZ            0             0
110515     2016-06-08   33        MARIA ORTIZ            0             1
110516     2016-06-08   37        MARIA ORTIZ            0             0
110517     2016-06-07   19        MARIA ORTIZ            0             0
110518     2016-06-07   50        MARIA ORTIZ            0             0
110519     2016-06-07   22        MARIA ORTIZ            0             0
110520     2016-06-07   42        MARIA ORTIZ            0             0
110521     2016-06-07   53        MARIA ORTIZ            0             0
110522     2016-06-07   56        MARIA ORTIZ            0             0
110523     2016-06-07   51        MARIA ORTIZ            0             0
110524     2016-06-07   21        MARIA ORTIZ            0             0
110525     2016-06-07   38        MARIA ORTIZ            0             0
110526     2016-06-07   54        MARIA ORTIZ            0             0

        Diabetes  Alcoholism  Handicap  SMSReceived NoShow  DaysInAdvance  \
0              0           0         0            0     No              0
1              0           0         0            0     No              0
2              0           0         0            0     No              0
3              0           0         0            0     No              0
4              1           0         0            0     No              0
5              0           0         0            0     No              2
6              0           0         0            0    Yes              2
7              0           0         0            0    Yes              2
8              0           0         0            0     No              0
9              0           0         0            0     No              2
10             0           0         0            0     No              2
11             0           0         0            1    Yes              3
12             0           0         0            0     No              1
13             0           0         0            0     No              1
14             0           0         0            0     No              1
15             0           0         0            1     No              3
16             0           0         0            0     No              1
17             0           0         0            0    Yes              1
18             0           0         0            1     No              3
19             0           0         0            0     No              0
20             0           0         0            0    Yes              2
21             0           0         0            0    Yes              2
22             0           0         0            1    Yes              4
23             0           0         0            0     No              1
24             0           0         0            0     No              0
25             0           0         0            1     No              3
26             0           0         0            0     No              0
27             0           0         0            0     No              2
28             0           0         0            0     No              0
29             0           0         0            0     No              0
...          ...         ...       ...          ...    ...            ...
110496         0           0         0            0    Yes              2
110497         0           0         0            0     No              0
110498         0           0         0            0     No              0
110499         1           0         0            0     No              0
110500         0           0         0            0     No              0
110501         0           0         0            0     No              0
110502         0           0         0            0     No              0
110503         0           0         0            0     No              0
110504         0           0         0            0     No              0
110505         0           0         0            0     No              0
110506         0           0         0            0     No              0
110508         0           0         0            0     No              0
110509         0           0         0            0     No              0
110510         0           0         0            0     No              0
110511         0           0         0            0     No              0
110512         0           0         0            0     No              0
110513         0           0         0            0     No              0
110514         0           0         0            0     No              0
110515         0           0         0            0    Yes              2
110516         0           0         0            0    Yes              1
110517         0           0         0            0     No              0
110518         0           0         0            1     No             41
110519         0           0         0            1     No             41
110520         0           0         0            1     No             35
110521         0           0         0            1     No             35
110522         0           0         0            1     No             35
110523         0           0         0            1     No             35
110524         0           0         0            1     No             41
110525         0           0         0            1     No             41
110526         0           0         0            1     No             41

       ScheduledDOW AppointmentDOW  age_range
0            Friday         Friday          2
1            Friday         Friday          2
2            Friday         Friday          2
3            Friday         Friday          0
4            Friday         Friday          2
5         Wednesday         Friday          3
6         Wednesday         Friday          1
7         Wednesday         Friday          2
8            Friday         Friday          1
9         Wednesday         Friday          1
10        Wednesday         Friday          2
11          Tuesday         Friday          2
12         Thursday         Friday          1
13         Thursday         Friday          2
14         Thursday         Friday          2
15          Tuesday         Friday          0
16         Thursday         Friday          2
17         Thursday         Friday          2
18          Tuesday         Friday          2
19           Friday         Friday          2
20        Wednesday         Friday          2
21        Wednesday         Friday          0
22           Monday         Friday          0
23         Thursday         Friday          2
24           Friday         Friday          2
25          Tuesday         Friday          2
26           Friday         Friday          2
27        Wednesday         Friday          0
28           Friday         Friday          2
29           Friday         Friday          2
...             ...            ...        ...
110496       Monday      Wednesday          2
110497    Wednesday      Wednesday          3
110498    Wednesday      Wednesday          2
110499    Wednesday      Wednesday          3
110500    Wednesday      Wednesday          2
110501    Wednesday      Wednesday          2
110502    Wednesday      Wednesday          1
110503    Wednesday      Wednesday          2
110504    Wednesday      Wednesday          0
110505    Wednesday      Wednesday          2
110506    Wednesday      Wednesday          0
110508    Wednesday      Wednesday          2
110509    Wednesday      Wednesday          2
110510    Wednesday      Wednesday          2
110511    Wednesday      Wednesday          0
110512    Wednesday      Wednesday          2
110513    Wednesday      Wednesday          0
110514    Wednesday      Wednesday          2
110515       Monday      Wednesday          2
110516      Tuesday      Wednesday          2
110517      Tuesday        Tuesday          1
110518    Wednesday        Tuesday          2
110519    Wednesday        Tuesday          1
110520      Tuesday        Tuesday          2
110521      Tuesday        Tuesday          2
110522      Tuesday        Tuesday          2
110523      Tuesday        Tuesday          2
110524    Wednesday        Tuesday          1
110525    Wednesday        Tuesday          2
110526    Wednesday        Tuesday          2

[106988 rows x 19 columns]>

In [27]:
# NOTE: calling describe when not all the data is categorical will cause the 
# categorical variables to be removed
df[['Gender','Handicap']].describe().transpose()

             count      mean       std  min  25%  50%  75%  max
Handicap  106988.0  0.020937  0.143174  0.0  0.0  0.0  0.0  1.0

In [28]:
# perform one-hot encoding of the categorical data "embarked"
tmp_df = pd.get_dummies(df.Handicap,prefix='Handicap')
df = pd.concat((df,tmp_df),axis=1) # add back into the dataframe

# replace the current Sex atribute with something slightly more intuitive and readable
df['IsMale'] = df.Gender=='male' 
df.IsMale = df.IsMale.astype(np.int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106988 entries, 0 to 110526
Data columns (total 22 columns):
PatientId         106988 non-null int64
AppointmentID     106988 non-null int64
Gender            106988 non-null object
ScheduledDay      106988 non-null object
ScheduledTime     106988 non-null object
AppointmentDay    106988 non-null object
Age               106988 non-null int64
Neighbourhood     106988 non-null object
Scholarship       106988 non-null int64
Hypertension      106988 non-null int64
Diabetes          106988 non-null int64
Alcoholism        106988 non-null int64
Handicap          106988 non-null int64
SMSReceived       106988 non-null int64
NoShow            106988 non-null object
DaysInAdvance     106988 non-null int64
ScheduledDOW      106988 non-null object
AppointmentDOW    106988 non-null object
age_range         106988 non-null int32
Handicap_0        106988 non-null uint8
Handicap_1        106988 non-null uint8
IsMale            106988 non-null int32
dtypes: int32(2), int64(10), object(8), uint8(2)
memory usage: 16.5+ MB

In [29]:
# Now let's clean up the dataset
if 'Gender' in df:
    del df['Gender'] # if 'Sex' column still exists, delete it (as we created an ismale column)
    
if 'Handicap' in df:    
    del df['Handicap'] # get reid of the original category as it is now one-hot encoded
    
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106988 entries, 0 to 110526
Data columns (total 20 columns):
PatientId         106988 non-null int64
AppointmentID     106988 non-null int64
ScheduledDay      106988 non-null object
ScheduledTime     106988 non-null object
AppointmentDay    106988 non-null object
Age               106988 non-null int64
Neighbourhood     106988 non-null object
Scholarship       106988 non-null int64
Hypertension      106988 non-null int64
Diabetes          106988 non-null int64
Alcoholism        106988 non-null int64
SMSReceived       106988 non-null int64
NoShow            106988 non-null object
DaysInAdvance     106988 non-null int64
ScheduledDOW      106988 non-null object
AppointmentDOW    106988 non-null object
age_range         106988 non-null int32
Handicap_0        106988 non-null uint8
Handicap_1        106988 non-null uint8
IsMale            106988 non-null int32
dtypes: int32(2), int64(9), object(7), uint8(2)
memory usage: 14.9+ MB

In [30]:
from sklearn.model_selection import ShuffleSplit

# we want to predict the X and y data as follows:
if 'NoShow' in df:
    y = df['NoShow'].values # get the labels we want
    del df['NoShow'] # get rid of the class label
    X = df.values # use everything else to predict!

    ## X and y are now numpy matrices, by calling 'values' on the pandas data frames we
    #    have converted them into simple matrices to use with scikit learn
    
    
# to use the cross validation object in scikit learn, we need to grab an instance
#    of the object and set it up. This object will be able to split our data into 
#    training and testing splits
num_cv_iterations = 3
num_instances = len(y)
cv_object = ShuffleSplit(n_splits=num_cv_iterations,
                         test_size  = 0.2)
                         
print(cv_object)

ShuffleSplit(n_splits=3, random_state=None, test_size=0.2, train_size=None)