# Assignment 1
## Medical Patient No Show

### Team members: Luay Dajani, Dana Geislinger, Chris Morgan, Caroll Rodriguez
##### Github - https://github.com/cdmorgan103/7331DataMiningNoShow

## Describe the purpose of the data set you selected

We utilized the Kaggle No Show appointment data. it has 110,527 records and 14 attributes. This data was collected from a network of medical locations in Brazil in 2016 and shows the show/no-show behavior of the patients across the different medical facilities (that are identified as the Neighbourhood location).  

No Show in the medical world can be large cost for clinics and health systems. As the institution's capacity becomes more constrained and time to be seen increases, no show is often cited as becoming an increasing issue and many medical systems have gone to extreme lengths to reduce these costly occurences. 

Some clinics have resorted to overbooking, which blah blah blah I'll do more here later guys :)

https://www.kaggle.com/joniarroba/noshowappointments

### Data Understanding

More to do here now that we've figured out the data.... I'll do more here later guys :)

Declaring our libraries

### Verify Data Quality

In [1]:
import numpy as np
import pandas as pd

Import the data from our github location

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/cdmorgan103/7331DataMiningNoShow/master/data/orig_dataset.csv') #read in the csv file

In [4]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [5]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.920000e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172615e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173180e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439170e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999820e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

Lets set the patient id to int and change to category/object data types for our binary variables (scholarship, hipertension, etc.)

In [6]:
#declare the categories
categ_features =['Scholarship','Hipertension','Diabetes','Alcoholism','Handcap','SMS_received']
#convert the data
df.PatientId = df.PatientId.astype(np.int64)
df[categ_features] = df[categ_features].astype(np.object)

Since we only have an appointment date and the schedule day only tells us the date time scheduled, we really don't need scheduled time of day... so we will convert both to date only

In [7]:
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'])

df['ScheduledDay'] =pd.DatetimeIndex(df.ScheduledDay).normalize()

### Cleaning the data

There are some spelling errors so we will correct those

In [8]:
# Rename incorrect column names.
df = df.rename(columns={'Hipertension': 'Hypertension', 'Handcap': 'Handicap', 'SMS_received': 'SMSReceived', 'No-show': 'NoShow'})

Luckily its a pretty clean data set, but we do have a sub zero values for age and two unique patients with an age of 115. This could be documented oddly for perhaps a pregnant mother's child (hence a negative age value since the child isn't born). 

Since we don't know & its only one data point, we'll simply impute the value with the median for the negative. It is unlikely the 2 patients who are actually 115, but it is feasible to reach this age, and most likely, these patients true age are within the vicinity of the age documented but are slightly off due to poor birth documentation... so we will leave the 115 age values and other suspicously high age values alone for now.

In [9]:
df.loc[df.Age==-1]

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
99832,465943000000000,5775010,F,2016-06-06,2016-06-06,-1,ROMÃO,0,0,0,0,0,0,No

In [10]:
df.loc[df.Age==115]

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
63912,31963200000000,5700278,F,2016-05-16,2016-05-19,115,ANDORINHAS,0,0,0,0,1,0,Yes
63915,31963200000000,5700279,F,2016-05-16,2016-05-19,115,ANDORINHAS,0,0,0,0,1,0,Yes
68127,31963200000000,5562812,F,2016-04-08,2016-05-16,115,ANDORINHAS,0,0,0,0,1,0,Yes
76284,31963200000000,5744037,F,2016-05-30,2016-05-30,115,ANDORINHAS,0,0,0,0,1,0,No
97666,748235000000000,5717451,F,2016-05-19,2016-06-03,115,SÃO JOSÉ,0,1,0,0,0,1,No

In [11]:
df.Age=df.Age.replace(-1,37)

Next we will determine how many days in advance the appointment was scheduled and create it as a feature. We will then check and make sure values are reasonable and ensure there are no negative datapoints. Examination shows we do have some datapoints that need to be corrected

In [12]:
df['DaysInAdvance']=(df['AppointmentDay']-df['ScheduledDay']).dt.days
df.loc[df.DaysInAdvance<0]

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,DaysInAdvance
27033,7839270000000,5679978,M,2016-05-10,2016-05-09,38,RESISTÊNCIA,0,0,0,0,1,0,Yes,-1
55226,7896290000000,5715660,F,2016-05-18,2016-05-17,19,SANTO ANTÔNIO,0,0,0,0,1,0,Yes,-1
64175,24252300000000,5664962,F,2016-05-05,2016-05-04,22,CONSOLAÇÃO,0,0,0,0,0,0,Yes,-1
71533,998232000000000,5686628,F,2016-05-11,2016-05-05,81,SANTO ANTÔNIO,0,0,0,0,0,0,Yes,-6
72362,3787480000000,5655637,M,2016-05-04,2016-05-03,7,TABUAZEIRO,0,0,0,0,0,0,Yes,-1

We will now run through our data and ensure we have no appointments that are scheduled after the appointment(which would be impossible). If true, we will replace the scheduled day with the appointment day assuming a same day appointment. Then we will recalculate our days in advance field

In [13]:
df['ScheduledDay'] = np.where(df['ScheduledDay']>df['AppointmentDay'], df['AppointmentDay'], df['ScheduledDay'])
df['DaysInAdvance']=(df['AppointmentDay']-df['ScheduledDay']).dt.days

Examining again, we have corrected the bad scheduled appointment data

In [14]:
df.loc[df.DaysInAdvance<0]

Empty DataFrame
Columns: [PatientId, AppointmentID, Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood, Scholarship, Hypertension, Diabetes, Alcoholism, Handicap, SMSReceived, NoShow, DaysInAdvance]
Index: []

We will also create a day of week variable for both the scheduled day and the appointment day which will allows us to examine any potential trends related to the day of the week and appointment no-show

In [15]:
df['ScheduledDOW'] = df['ScheduledDay'].dt.weekday_name
df['AppointmentDOW'] = df['AppointmentDay'].dt.weekday_name

In [16]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 17 columns):
PatientId         110527 non-null int64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null datetime64[ns]
AppointmentDay    110527 non-null datetime64[ns]
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null object
Hypertension      110527 non-null object
Diabetes          110527 non-null object
Alcoholism        110527 non-null object
Handicap          110527 non-null object
SMSReceived       110527 non-null object
NoShow            110527 non-null object
DaysInAdvance     110527 non-null int64
ScheduledDOW      110527 non-null object
AppointmentDOW    110527 non-null object
dtypes: datetime64[ns](2), int64(4), object(11)
memory usage: 14.3+ MB

          PatientId  AppointmentID            Age  DaysInAdvance
count  1.105270e+05   1.105270e+05  110527.000000  110527.000000
mean   1.474963e+14   5.675305e+06      37.089218      10.183792
std    2.560949e+14   7.129575e+04      23.109921      15.254924
min    3.920000e+04   5.030230e+06       0.000000       0.000000
25%    4.172615e+12   5.640286e+06      18.000000       0.000000
50%    3.173180e+13   5.680573e+06      37.000000       4.000000
75%    9.439170e+13   5.725524e+06      55.000000      15.000000
max    9.999820e+14   5.790484e+06     115.000000     179.000000

In [17]:
print('Gender:',df.Gender.unique())
print('Age:',sorted(df.Age.unique()))
print('Neighbourhood:',sorted(df.Neighbourhood.unique()))
print('Scholarship:',df.Scholarship.unique())
print('Hypertension:',df.Hypertension.unique())
print('Diabetes:',df.Diabetes.unique())
print('Alchoholism:',df.Alcoholism.unique())
print('Handicap:',df.Handicap.unique())
print('SMSReceived:',df.SMSReceived.unique())
print('NoShow:',df.NoShow.unique())
print('DaysInAdvance:',sorted(df.DaysInAdvance.unique()))
print('ScheduledDOW:',sorted(df.ScheduledDOW.unique()))
print('AppointmentDOW:',sorted(df.AppointmentDOW.unique()))

Gender: ['F' 'M']
Age: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 102, 115]
Neighbourhood: ['AEROPORTO', 'ANDORINHAS', 'ANTÔNIO HONÓRIO', 'ARIOVALDO FAVALESSA', 'BARRO VERMELHO', 'BELA VISTA', 'BENTO FERREIRA', 'BOA VISTA', 'BONFIM', 'CARATOÍRA', 'CENTRO', 'COMDUSA', 'CONQUISTA', 'CONSOLAÇÃO', 'CRUZAMENTO', 'DA PENHA', 'DE LOURDES', 'DO CABRAL', 'DO MOSCOSO', 'DO QUADRO', 'ENSEADA DO SUÁ', 'ESTRELINHA', 'FONTE GRANDE', 'FORTE SÃO JOÃO', 'FRADINHOS', 'GOIABEIRAS', 'GRANDE VITÓRIA', 'GURIGICA', 'HORTO', 'ILHA DAS CAIEIRAS', 'ILHA DE SANTA MARIA', 'ILHA DO BOI', 'ILHA DO FRADE', 'ILHA DO PRÍNCIPE', 'ILHAS OCEÂNICAS DE TRINDADE', 'INHANGUETÁ', 'ITARARÉ', 'JABOUR', 'JARDIM CAMBURI', 'JARDIM DA PENHA', 'JESUS DE NAZARETH', 'JOANA D´ARC', 'JUCUTUQUARA', 'MARIA ORTIZ', 'MARUÍPE', 'MATA DA PRAIA', 'MONTE BELO', 'MORADA DE CAMBURI', 'MÁRIO CYPRESTE', 'NAZARETH', 'NOVA PALESTINA', 'PARQUE INDUSTRIAL', 'PARQUE MOSCOSO', 'PIEDADE', 'PONTAL DE CAMBURI', 'PRAIA DO CANTO', 'PRAIA DO SUÁ', 'REDENÇÃO', 'REPÚBLICA', 'RESISTÊNCIA', 'ROMÃO', 'SANTA CECÍLIA', 'SANTA CLARA', 'SANTA HELENA', 'SANTA LUÍZA', 'SANTA LÚCIA', 'SANTA MARTHA', 'SANTA TEREZA', 'SANTO ANDRÉ', 'SANTO ANTÔNIO', 'SANTOS DUMONT', 'SANTOS REIS', 'SEGURANÇA DO LAR', 'SOLON BORGES', 'SÃO BENEDITO', 'SÃO CRISTÓVÃO', 'SÃO JOSÉ', 'SÃO PEDRO', 'TABUAZEIRO', 'UNIVERSITÁRIO', 'VILA RUBIM']
Scholarship: [0 1]
Hypertension: [1 0]
Diabetes: [0 1]
Alchoholism: [0 1]
Handicap: [0 1 2 3 4]
SMSReceived: [0 1]
NoShow: ['No' 'Yes']
DaysInAdvance: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 101, 102, 103, 104, 105, 107, 108, 109, 110, 111, 112, 115, 117, 119, 122, 123, 125, 126, 127, 132, 133, 139, 142, 146, 151, 155, 162, 169, 176, 179]
ScheduledDOW: ['Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday']
AppointmentDOW: ['Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday']

We will now reorganize the columns in more logical way

In [19]:
df= df[['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay', 'AppointmentDay', 'ScheduledDOW','AppointmentDOW', 
        'DaysInAdvance','Neighbourhood', 'Age', 'Scholarship','Hypertension', 'Diabetes', 'Alcoholism', 'Handicap', 
        'SMSReceived', 'NoShow',]]

In [21]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,ScheduledDOW,AppointmentDOW,DaysInAdvance,Neighbourhood,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,29872500000000,5642903,F,2016-04-29,2016-04-29,Friday,Friday,0,JARDIM DA PENHA,62,0,1,0,0,0,0,No
1,558998000000000,5642503,M,2016-04-29,2016-04-29,Friday,Friday,0,JARDIM DA PENHA,56,0,0,0,0,0,0,No
2,4262960000000,5642549,F,2016-04-29,2016-04-29,Friday,Friday,0,MATA DA PRAIA,62,0,0,0,0,0,0,No
3,867951000000,5642828,F,2016-04-29,2016-04-29,Friday,Friday,0,PONTAL DE CAMBURI,8,0,0,0,0,0,0,No
4,8841190000000,5642494,F,2016-04-29,2016-04-29,Friday,Friday,0,JARDIM DA PENHA,56,0,1,1,0,0,0,No