# Lab 2
## Medical Patient No Show

### Team members: Luay Dajani, Dana Geislinger, Chris Morgan, Caroll Rodriguez
##### Github - https://github.com/cdmorgan103/7331DataMiningNoShow

MSDS 7331, 10/28/2018

In [24]:
import numpy as np
from __future__ import print_function
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
from pprint import pprint
from IPython.display import display
import seaborn as sns; sns.set(font_scale=1.2)
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import StratifiedShuffleSplit 
import datetime 

# Hide deprecation warnings
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)
warnings.filterwarnings('ignore', category=DeprecationWarning)

# Load the data into variable 'df' from pickled object
from funcs import load_df
df = load_df()
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 19 columns):
PatientId         110527 non-null int64
AppointmentID     110527 non-null int64
Gender            110527 non-null category
ScheduledDay      110527 non-null datetime64[ns]
ScheduledTime     110527 non-null object
AppointmentDay    110527 non-null datetime64[ns]
Age               110527 non-null int64
Neighbourhood     110527 non-null category
Scholarship       110527 non-null int64
Hypertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handicap          110527 non-null int64
SMSReceived       110527 non-null int64
NoShow            110527 non-null bool
DaysInAdvance     110527 non-null int64
ScheduledDOW      110527 non-null category
AppointmentDOW    110527 non-null category
age_range         110527 non-null category
dtypes: bool(1), category(5), datetime64[ns](2), int64(10), object(1)
memory usage: 11.6+ MB

## Data Preparation (15 points total)
#### [10 points] Deﬁne and prepare your class variables. Use proper variable representations (int, ﬂoat, one-hot, etc.). Use pre-processing methods (as needed) for dimensionality reduction, scaling, etc. Remove variables that are not needed/useful for the analysis.

In [25]:
#Remove attributes not usefull
del df['PatientId']
del df['AppointmentID']

# perform one-hot encoding of the categorical data 
tmp_df = pd.get_dummies(df.Handicap,prefix='Handicap')
df = pd.concat((df,tmp_df),axis=1) # add back into the dataframe

tmp_df = pd.get_dummies(df.AppointmentDOW,prefix='AppointmentDOW')
df = pd.concat((df,tmp_df),axis=1) # add back into the dataframe

tmp_df = pd.get_dummies(df.ScheduledDOW,prefix='ScheduledDOW')
df = pd.concat((df,tmp_df),axis=1) # add back into the dataframe

tmp_df = pd.get_dummies(df.Neighbourhood,prefix='Neighbourhood')
df = pd.concat((df,tmp_df),axis=1) # add back into the dataframe

tmp_df = pd.get_dummies(df.age_range,prefix='age_range')
df = pd.concat((df,tmp_df),axis=1) # add back into the dataframe

# replace the current Gender attribute with something slightly more intuitive and readable
df['IsMale'] = df.Gender=='M' 
df.IsMale = df.IsMale.astype(np.int)

# Now let's clean up the dataset
if 'Gender' in df:
    del df['Gender'] # if 'Sex' column still exists, delete it (as we created an ismale column)
    
if 'Handicap' in df:    
    del df['Handicap'] # get rid of the original category as it is now one-hot encoded
    
if 'ScheduledDOW' in df:    
    del df['ScheduledDOW'] # get rid of the original category as it is now one-hot encoded
    
if 'AppointmentDOW' in df:    
    del df['AppointmentDOW'] # get rid of the original category as it is now one-hot encoded

if 'Neighbourhood' in df:    
    del df['Neighbourhood'] # get rid of the original category as it is now one-hot encoded

if 'age_range' in df:
    del df['age_range']

if 'AppointmentID' in df:
    del df['AppointmentID']
    
#if 'ScheduledDay' in df:
#    del df['ScheduledDay']
    
#if 'ScheduledTime' in df:
#    del df['ScheduledTime']

#if 'AppointmentDay' in df:
    del df['AppointmentDay']

# Get an overview of the raw data
df.info(null_counts=True, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 115 columns):
ScheduledDay                                 110527 non-null datetime64[ns]
ScheduledTime                                110527 non-null object
AppointmentDay                               110527 non-null datetime64[ns]
Age                                          110527 non-null int64
Scholarship                                  110527 non-null int64
Hypertension                                 110527 non-null int64
Diabetes                                     110527 non-null int64
Alcoholism                                   110527 non-null int64
SMSReceived                                  110527 non-null int64
NoShow                                       110527 non-null bool
DaysInAdvance                                110527 non-null int64
Handicap_0                                   110527 non-null uint8
Handicap_1                                   110527 non-null uint8
Handicap_2                                   110527 non-null uint8
Handicap_3                                   110527 non-null uint8
Handicap_4                                   110527 non-null uint8
AppointmentDOW_Monday                        110527 non-null uint8
AppointmentDOW_Tuesday                       110527 non-null uint8
AppointmentDOW_Wednesday                     110527 non-null uint8
AppointmentDOW_Thursday                      110527 non-null uint8
AppointmentDOW_Friday                        110527 non-null uint8
AppointmentDOW_Saturday                      110527 non-null uint8
AppointmentDOW_Sunday                        110527 non-null uint8
ScheduledDOW_Monday                          110527 non-null uint8
ScheduledDOW_Tuesday                         110527 non-null uint8
ScheduledDOW_Wednesday                       110527 non-null uint8
ScheduledDOW_Thursday                        110527 non-null uint8
ScheduledDOW_Friday                          110527 non-null uint8
ScheduledDOW_Saturday                        110527 non-null uint8
ScheduledDOW_Sunday                          110527 non-null uint8
Neighbourhood_AEROPORTO                      110527 non-null uint8
Neighbourhood_ANDORINHAS                     110527 non-null uint8
Neighbourhood_ANTÔNIO HONÓRIO                110527 non-null uint8
Neighbourhood_ARIOVALDO FAVALESSA            110527 non-null uint8
Neighbourhood_BARRO VERMELHO                 110527 non-null uint8
Neighbourhood_BELA VISTA                     110527 non-null uint8
Neighbourhood_BENTO FERREIRA                 110527 non-null uint8
Neighbourhood_BOA VISTA                      110527 non-null uint8
Neighbourhood_BONFIM                         110527 non-null uint8
Neighbourhood_CARATOÍRA                      110527 non-null uint8
Neighbourhood_CENTRO                         110527 non-null uint8
Neighbourhood_COMDUSA                        110527 non-null uint8
Neighbourhood_CONQUISTA                      110527 non-null uint8
Neighbourhood_CONSOLAÇÃO                     110527 non-null uint8
Neighbourhood_CRUZAMENTO                     110527 non-null uint8
Neighbourhood_DA PENHA                       110527 non-null uint8
Neighbourhood_DE LOURDES                     110527 non-null uint8
Neighbourhood_DO CABRAL                      110527 non-null uint8
Neighbourhood_DO MOSCOSO                     110527 non-null uint8
Neighbourhood_DO QUADRO                      110527 non-null uint8
Neighbourhood_ENSEADA DO SUÁ                 110527 non-null uint8
Neighbourhood_ESTRELINHA                     110527 non-null uint8
Neighbourhood_FONTE GRANDE                   110527 non-null uint8
Neighbourhood_FORTE SÃO JOÃO                 110527 non-null uint8
Neighbourhood_FRADINHOS                      110527 non-null uint8
Neighbourhood_GOIABEIRAS                     110527 non-null uint8
Neighbourhood_GRANDE VITÓRIA                 110527 non-null uint8
Neighbourhood_GURIGICA                       110527 non-null uint8
Neighbourhood_HORTO                          110527 non-null uint8
Neighbourhood_ILHA DAS CAIEIRAS              110527 non-null uint8
Neighbourhood_ILHA DE SANTA MARIA            110527 non-null uint8
Neighbourhood_ILHA DO BOI                    110527 non-null uint8
Neighbourhood_ILHA DO FRADE                  110527 non-null uint8
Neighbourhood_ILHA DO PRÍNCIPE               110527 non-null uint8
Neighbourhood_ILHAS OCEÂNICAS DE TRINDADE    110527 non-null uint8
Neighbourhood_INHANGUETÁ                     110527 non-null uint8
Neighbourhood_ITARARÉ                        110527 non-null uint8
Neighbourhood_JABOUR                         110527 non-null uint8
Neighbourhood_JARDIM CAMBURI                 110527 non-null uint8
Neighbourhood_JARDIM DA PENHA                110527 non-null uint8
Neighbourhood_JESUS DE NAZARETH              110527 non-null uint8
Neighbourhood_JOANA D´ARC                    110527 non-null uint8
Neighbourhood_JUCUTUQUARA                    110527 non-null uint8
Neighbourhood_MARIA ORTIZ                    110527 non-null uint8
Neighbourhood_MARUÍPE                        110527 non-null uint8
Neighbourhood_MATA DA PRAIA                  110527 non-null uint8
Neighbourhood_MONTE BELO                     110527 non-null uint8
Neighbourhood_MORADA DE CAMBURI              110527 non-null uint8
Neighbourhood_MÁRIO CYPRESTE                 110527 non-null uint8
Neighbourhood_NAZARETH                       110527 non-null uint8
Neighbourhood_NOVA PALESTINA                 110527 non-null uint8
Neighbourhood_PARQUE INDUSTRIAL              110527 non-null uint8
Neighbourhood_PARQUE MOSCOSO                 110527 non-null uint8
Neighbourhood_PIEDADE                        110527 non-null uint8
Neighbourhood_PONTAL DE CAMBURI              110527 non-null uint8
Neighbourhood_PRAIA DO CANTO                 110527 non-null uint8
Neighbourhood_PRAIA DO SUÁ                   110527 non-null uint8
Neighbourhood_REDENÇÃO                       110527 non-null uint8
Neighbourhood_REPÚBLICA                      110527 non-null uint8
Neighbourhood_RESISTÊNCIA                    110527 non-null uint8
Neighbourhood_ROMÃO                          110527 non-null uint8
Neighbourhood_SANTA CECÍLIA                  110527 non-null uint8
Neighbourhood_SANTA CLARA                    110527 non-null uint8
Neighbourhood_SANTA HELENA                   110527 non-null uint8
Neighbourhood_SANTA LUÍZA                    110527 non-null uint8
Neighbourhood_SANTA LÚCIA                    110527 non-null uint8
Neighbourhood_SANTA MARTHA                   110527 non-null uint8
Neighbourhood_SANTA TEREZA                   110527 non-null uint8
Neighbourhood_SANTO ANDRÉ                    110527 non-null uint8
Neighbourhood_SANTO ANTÔNIO                  110527 non-null uint8
Neighbourhood_SANTOS DUMONT                  110527 non-null uint8
Neighbourhood_SANTOS REIS                    110527 non-null uint8
Neighbourhood_SEGURANÇA DO LAR               110527 non-null uint8
Neighbourhood_SOLON BORGES                   110527 non-null uint8
Neighbourhood_SÃO BENEDITO                   110527 non-null uint8
Neighbourhood_SÃO CRISTÓVÃO                  110527 non-null uint8
Neighbourhood_SÃO JOSÉ                       110527 non-null uint8
Neighbourhood_SÃO PEDRO                      110527 non-null uint8
Neighbourhood_TABUAZEIRO                     110527 non-null uint8
Neighbourhood_UNIVERSITÁRIO                  110527 non-null uint8
Neighbourhood_VILA RUBIM                     110527 non-null uint8
age_range_child                              110527 non-null uint8
age_range_adult                              110527 non-null uint8
age_range_senior                             110527 non-null uint8
IsMale                                       110527 non-null int32
dtypes: bool(1), datetime64[ns](2), int32(1), int64(7), object(1), uint8(103)
memory usage: 19.8+ MB

In [26]:
# we want to predict the X and y data as follows:
if 'NoShow' in df:
    y = df['NoShow'].values # get the labels we want
    df_x = df.copy()
    del df_x['NoShow'] # get rid of the class label
    X = df_x.values # use everything else to predict!
    
    
print ('Number of Prediciting Features: ', X.shape)
    
print ('Number of Response: ', y.shape)

Number of Prediciting Features:  (110527, 114)
Number of Response:  (110527,)

In [27]:
df.AppointmentDay.describe()

count                  110527
unique                     27
top       2016-06-06 00:00:00
freq                     4692
first     2016-04-29 00:00:00
last      2016-06-08 00:00:00
Name: AppointmentDay, dtype: object

In [38]:
#Testing set --- hold 1 month of data out as test set based on AppointmentDay

subset_test = df[(df['AppointmentDay'] > datetime.date(2016,5,1))]
subset_test.head(10)

,ScheduledDay,ScheduledTime,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,SMSReceived,NoShow,...,Neighbourhood_SÃO CRISTÓVÃO,Neighbourhood_SÃO JOSÉ,Neighbourhood_SÃO PEDRO,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,age_range_child,age_range_adult,age_range_senior,IsMale
3235,2016-03-31,08:25:33,2016-05-03,49,0,0,0,0,1,True,...,0,0,0,0,0,0,0,1,0,0
3236,2016-04-06,10:13:02,2016-05-10,73,0,0,0,0,1,False,...,0,0,0,0,0,0,0,0,1,0
3237,2016-04-25,09:52:28,2016-05-17,51,0,0,0,0,0,False,...,0,0,0,0,0,0,0,1,0,0
3238,2016-05-24,10:48:13,2016-05-24,20,0,0,0,0,0,False,...,0,0,0,0,0,0,0,1,0,0
3239,2016-05-25,12:50:20,2016-05-31,37,0,0,0,0,1,False,...,0,0,0,0,0,0,0,1,0,0
3240,2016-03-31,08:29:14,2016-05-03,24,0,0,0,0,1,True,...,0,0,0,0,0,0,0,1,0,0
3241,2016-04-07,11:35:38,2016-05-10,50,0,0,0,0,1,False,...,0,0,0,0,0,0,0,1,0,0
3242,2016-04-13,12:46:46,2016-05-17,43,0,0,0,0,0,False,...,0,0,0,0,0,0,0,1,0,0
3243,2016-04-15,15:03:46,2016-05-24,60,0,0,0,0,1,False,...,0,0,0,0,0,0,0,1,0,0
3244,2016-04-26,11:00:06,2016-05-31,51,0,0,0,0,1,False,...,0,0,0,0,0,0,0,1,0,0

In [43]:
#Training set -- all records less than appointment date 5/1/2016
subset_train = df[(df['AppointmentDay'] < datetime.date(2016,5,1))]
subset_train.head(10)

,ScheduledDay,ScheduledTime,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,SMSReceived,NoShow,...,Neighbourhood_SÃO CRISTÓVÃO,Neighbourhood_SÃO JOSÉ,Neighbourhood_SÃO PEDRO,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,age_range_child,age_range_adult,age_range_senior,IsMale
0,2016-04-29,18:38:08,2016-04-29,62,0,1,0,0,0,False,...,0,0,0,0,0,0,0,1,0,0
1,2016-04-29,16:08:27,2016-04-29,56,0,0,0,0,0,False,...,0,0,0,0,0,0,0,1,0,1
2,2016-04-29,16:19:04,2016-04-29,62,0,0,0,0,0,False,...,0,0,0,0,0,0,0,1,0,0
3,2016-04-29,17:29:31,2016-04-29,8,0,0,0,0,0,False,...,0,0,0,0,0,0,1,0,0,0
4,2016-04-29,16:07:23,2016-04-29,56,0,1,1,0,0,False,...,0,0,0,0,0,0,0,1,0,0
5,2016-04-27,08:36:51,2016-04-29,76,0,1,0,0,0,False,...,0,0,0,0,0,0,0,0,1,0
6,2016-04-27,15:05:12,2016-04-29,23,0,0,0,0,0,True,...,0,0,0,0,0,0,0,1,0,0
7,2016-04-27,15:39:58,2016-04-29,39,0,0,0,0,0,True,...,0,0,0,0,0,0,0,1,0,0
8,2016-04-29,08:02:16,2016-04-29,21,0,0,0,0,0,False,...,0,0,0,0,0,0,0,1,0,0
9,2016-04-27,12:48:25,2016-04-29,19,0,0,0,0,0,False,...,0,0,0,0,0,0,0,1,0,0

#### [5 points] Describe the ﬁnal dataset that is used for classiﬁcation/regression (include a description of any newly formed variables you created).

## Modeling and Evaluation (70 points total) 

#### [10 points] Choose and explain your evaluation metrics that you will use (i.e., accuracy, precision, recall, F-measure, or any metric we have discussed). Why are the measure(s) appropriate for analyzing the results of your modeling? Give a detailed explanation backing up any assertions.

#### [10 points] Choose the method you will use for dividing your data into training and testing splits (i.e., are you using Stratiﬁed 10-fold cross validation? Why?). Explain why your chosen method is appropriate or use more than one method as appropriate. For example, if you are using time series data then you should be using continuous training and testing sets across time.

#### [20 points] Create three different classiﬁcation/regression models for each task (e.g., random forest, KNN, and SVM for task one and the same or different algorithms for task two). Two modeling techniques must be new (but the third could be SVM or logistic regression). Adjust parameters as appropriate to increase generalization performance using your chosen metric. You must investigate different parameters of the algorithms!

#### [10 points] Analyze the results using your chosen method of evaluation. Use visualizations of the results to bolster the analysis. Explain any visuals and analyze why they are interesting to someone that might use this model.

#### [10 points] Discuss the advantages of each model for each classiﬁcation task, if any. If there are not advantages, explain why. Is any model better than another? Is the difference signiﬁcant with 95% conﬁdence? Use proper statistical comparison methods. You must use statistical comparison techniques—be sure they are appropriate for your chosen method of validation as discussed in unit 7 of the course.

#### [10 points] Which attributes from your analysis are most important? Use proper methods discussed in class to evaluate the importance of different attributes. Discuss the results and hypothesize about why certain attributes are more important than others for a given classiﬁcation task.

## Deployment (5 points total) 

#### How useful is your model for interested parties (i.e., the companies or organizations that might want to use it for prediction)? How would you measure the model's value if it was used by these parties? How would your deploy your model for interested parties? What other data should be collected? How often would the model need to be updated, etc.?

## Exceptional Work (10 points total) 

#### You have free reign to provide additional analyses. • One idea: grid search parameters in a parallelized fashion and visualize the performances across attributes. Which parameters are most signiﬁcant for making a good model for each classiﬁcation algorithm?